.root {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 48px 40px;
  gap: 28px;
  isolation: isolate;
  position: relative;
  width: 550px;
  height: 200px;
  background: #ffffff;
  border-radius: 6px;
}

.close {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #486377;
}

.text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #262626;
}

.cancel {
  width: 149px;
  height: 39px;
  background: #ffffff;
  border: 1px solid #2991dc;
  border-radius: 4px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #2991dc;
  cursor: pointer;
}

.delete {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding: 10px 48px;
  gap: 10px;
  width: 285px;
  height: 39px;
  background: #2991dc;
  border-radius: 4px;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}
